
#lateralWindow
{
	-fx-border-color: black;
	-fx-background-color: lightgrey;
}

#infoBoxTitle
{
	/*Font properties */
	-fx-fill: black;
	-fx-font-weight: bold;
}

#infoBoxLabels
{
	-fx-fill: blue;
}